.orderPage{
    background-color: whitesmoke;
}

.displayNoItemOrder{
    width: 100%;
    min-height: calc(100vh - 250px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    font-size: 35px;
    font-weight: 700;
}

.orderPageContainer{
    min-height: calc(100vh - 250px);
}

