.latest{
    margin: 50px 40px;
    margin-bottom: 80px;
    padding: 20px 0px 30px 0px;
    border-radius: 20px;
    /* -webkit-box-shadow: 1px 2px 15px -2px hsl(0, 0%, 35%); 
    box-shadow: 1px 2px 15px -2px #747474; */
    /* background-color: rgb(218, 223, 233); */
}

.title{
    width: 100%;
    text-align: center;
    color: rgb(107, 106, 139);
    font-size: 30px;
    font-weight: 700;
    font-family: Verdana, sans-serif ;
}

.latestitems{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

@media only screen and (max-width: 600px){
    .latestitems{
        flex-direction: column;
    }
    .latest{
        margin: 30px 10px;
    }
}